Exercises/Contains/target
Exercises/Truncate/target
GeneratorExamples/target
Max/target
Max/project/target
GeneratorExamples/project/target
Exercises/Truncate/project/target
Exercises/Contains/project/target
*/target


